[Unit]
Description=Syncjs web app

[Service]
Type=forking
PIDFile=/var/run/syncjs/pid
ExecStart=/usr/bin/nodejs /usr/lib/syncjs/webapp.js -a 0.0.0.0 -p 3123
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=syncjs
Environment=NODE_ENV=production
Environment=SYNCJS_MOUNT_PATH=/media/vfrc2
Environment=SYNCJS_CACHE_FILE=/var/run/syncjs/cache
Environment=SYNCJS_PID=/var/run/syncjs/pid

[Install]
WantedBy=multi-user.target